<div class="container">
    <div class="nuevoParque">
        <button mat-mini-fab color="primary" (click)="openDialog()" class="button">
            <mat-icon>add</mat-icon>
        </button>
        &nbsp;
        <b>Nuevo Parque</b>         
    </div>
    <div>
        <div *ngFor="let item of parques" class="parque-card">
            <mat-card [ngStyle]="{'background-color': item.Color}">
                <mat-card-header>
                    <div style="height: 80px;">
                    <mat-card-title>{{ item.NombreParque.toUpperCase() }}</mat-card-title>
                    <mat-card-subtitle>{{ item.Direccion }}</mat-card-subtitle>
                    </div>
                    <br>
                </mat-card-header>
                <img mat-card-image src="{{ item.urlImagen }}" width="342" height="200">
                <mat-card-content>
                    <!--<p>
                        {{ item.Observacion }}
                    </p>-->
                    <p style="color:black;">
                        <b>Código Corto:</b> {{ item.InicialesParque }} <br>
                        <b>Telefono:</b> {{ item.Telefono }} <br>
                        <b>Activo:</b> {{item.Activo === true ? 'SI' : 'NO' }} <br>
                        <b>Municipio:</b> {{item.NombreMunicipio}} <br>
                        <b>Departamento:</b> {{item.NombreDepartamento}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-mini-fab matTooltip="Editar Parque" color="primary" (click)="editarparque(item.ParqueId)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    &nbsp;
                    <button mat-mini-fab matTooltip="Detalle Parque" color="accent" (click)="verParque(item.ParqueId)">
                        <mat-icon>preview</mat-icon>
                    </button>
                    &nbsp;
                    <button mat-mini-fab matTooltip="Eliminar Parque" color="warn" (click)="eliminarParque(item.ParqueId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    &nbsp;
                    <button mat-mini-fab matTooltip="Adm. Servicios Parque" color="basic" [routerLink]="['/adminParques/servicios', item.ParqueId]">
                        <mat-icon>build</mat-icon>
                    </button>
                    &nbsp;
                    <button mat-mini-fab matTooltip="Adm. Archivos Parque" color="success" [routerLink]="['/adminParques/archivos', item.ParqueId]">
                        <mat-icon>rule_folder</mat-icon>
                    </button>
                  </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
