<div>
    <h3>Nuevo Servicio Parque</h3>
    <form [formGroup]="nuevoServicioParqueForm" (ngSubmit)="guardar()">
        <mat-dialog-content>
            <div class="element-form">
                <label class="label-description">Nombre servicio:</label>
                <mat-form-field class="new-servicio-parque-form-field">
                    <input type="text" matInput placeholder="Nombre Servicio" arial-label="Nombre" formControlName="NombreServicioParque"/>
                    <mat-error *ngIf="nuevoServicioParqueForm.get('NombreServicioParque').hasError('required')">Nombre del servicio del parque requerido.</mat-error>
                </mat-form-field>
            </div>
            <div class="element-form">
                <label class="label-description">Descripción del servicio:</label>
                <mat-form-field class="new-servicio-parque-form-field">
                    <textarea  matInput placeholder="Descripción del servicio" arial-label="Descripcion" formControlName="DescripcionServicioParque"></textarea>
                    <mat-error *ngIf="nuevoServicioParqueForm.get('DescripcionServicioParque').hasError('required')">La descripción requerida.</mat-error>
                </mat-form-field>
            </div>
            <div class="element-form">
                <label class="label-description">Estado Servicio:</label>
                <mat-form-field class="new-servicio-parque-form-field">
                    <mat-label>Seleccione...</mat-label>
                    <mat-select formControlName="EstadoServicioId">
                        <mat-option *ngFor="let itemEstado of _estadoServicio" [value]="itemEstado.EstadoServicioId">{{itemEstado.NombreEstado}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="nuevoServicioParqueForm.get('EstadoServicioId').hasError('required')">El estado del servicio es requerido.</mat-error>
                </mat-form-field>
            </div>
            <div class="element-form">
                <label class="label-description">Precio:</label>
                <mat-form-field class="new-servicio-parque-form-field">
                    <input type="text" matInput placeholder="Precio" arial-label="Precio" formControlName="PrecioServicio"/>
                    <mat-error *ngIf="nuevoServicioParqueForm.get('PrecioServicio').hasError('required')">Nombre del servicio del parque requerido.</mat-error>
                </mat-form-field>
            </div>
            <div class="element-form">
                <label class="label-description">Tipo Servicio:</label>
                <mat-form-field class="new-servicio-parque-form-field">
                    <mat-label>Seleccione...</mat-label>
                    <mat-select formControlName="TipoServicioId">
                        <mat-option *ngFor="let itemTipoServ of _tipoServicio" [value]="itemTipoServ.TipoServicioId">{{itemTipoServ.NombreTipoServicio}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="nuevoServicioParqueForm.get('TipoServicioId').hasError('required')">El tipo de servicio es requerido.</mat-error>
                </mat-form-field>
            </div>
            <div class="element-form">
                <label class="label-description">Impuesto:</label>
                <mat-form-field class="new-servicio-parque-form-field">
                    <input type="number" matInput placeholder="Impuesto" arial-label="Impuesto" formControlName="ImpuestoServicio"/>
                    <mat-error *ngIf="nuevoServicioParqueForm.get('ImpuestoServicio').hasError('required')">Impuesto requerido.</mat-error>
                </mat-form-field>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-mini-fab color="primary" aria-label="Guardar" type="submit" [disabled]="nuevoServicioParqueForm.invalid" class="button-icono" formaction="">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-mini-fab color="warn" aria-label="Cerrar" mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </mat-dialog-actions>
    </form>
</div>